---
BasedOnStyle: Mozilla
AllowAllParametersOfDeclarationOnNextLine: 'true'
AllowShortBlocksOnASingleLine: 'true'
BinPackArguments: 'true'
BinPackParameters: 'true'
Cpp11BracedListStyle: 'true'
ExperimentalAutoDetectBinPacking: 'true'
NamespaceIndentation: Inner
PenaltyReturnTypeOnItsOwnLine: '0'
PointerAlignment: Left
SortIncludes: 'true'
SpaceBeforeAssignmentOperators: 'true'
Standard: Cpp11
TabWidth: '2'
UseTab: Never

...
